#Possible values here are: 1) --MinMax-bounds of variables (plant and controller) 2)comments line begin with # or // 3) --max-value 4) --sampling-time 5) --release-time 6) --sensing-time  7) --upper-bound  8) --lower-bound  9) --time-horizon 10)  --goal   11) --noise-params 12 )  --disturbance
//This is a comment
# Even this is a comment

max-value = "1000"
#minmax-bounds = "Motor_Current:[-1,1500] & Caliper_Position:[0,0.1]"
#minmax-bounds = "Xc:[-0.1,0.1] & Voltage:[-10,700]"
sampling-time = 0.001  
release-time = 0.0
sensing-time = 0.0
time-horizon = 1.5
upper-bound = 125
lower-bound = 100
#deadline_miss_m = 4
#deadline_miss_n = 20
#goal ="gt>0.090"
goal ="Caliper_Position>0.052 & gt<0.146"

